<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Xadrez.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <userSettings>
        <Xadrez.Properties.Settings>
            <setting name="TextoDasCasasColorido" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ColocarImagensNasCasas" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoConcluirJogadaOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MostrarPopupDasCasas" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VerInfoDeDebug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TestarTabuleiroDebug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InverterTabuleiro" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IdDaPessaQueOPeaoVaiVirar" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HostIP" serializeAs="String">
                <value />
            </setting>
            <setting name="ClientIP" serializeAs="String">
                <value />
            </setting>
            <setting name="SeEnviaMovimentosDeJogada" serializeAs="String">
                <value>True</value>
            </setting>
        </Xadrez.Properties.Settings>
    </userSettings>
</configuration>